.div-instructions {
    background-color: white;
    display: flex;
    width: 100%;
    height: 1000px;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
    text-align: center;
}
.div-instructions h1 {
    font-size: 7.5rem;
    font-family: "Roboto";
    color: #CB6CE6;
    text-shadow: #52FFFF 2px 5px;

}
.div-steps {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.div-steps h2 {
    color: #52FFFF;
    font-size: 3rem;
}
.div-steps h3 {
    font-size: 2.8rem;
}
@media screen and (max-width: 849px) {
    .div-instructions h1 {
        font-size: 6rem;
        font-family: "Roboto";
        color: #CB6CE6;
        text-shadow: #52FFFF 2px 5px;
    
    }
    .div-steps h2 {
        color: #52FFFF;
        font-size: 2.5rem;
    }
    .div-steps h3 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 700px) {
    .div-instructions h1 {
        font-size: 4rem;
        font-family: "Roboto";
        color: #CB6CE6;
        text-shadow: #52FFFF 2px 5px;
    
    }
    .div-steps h2 {
        color: #52FFFF;
        font-size: 2.5rem;
    }
    .div-steps h3 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 455px) {
    .div-instructions h1 {
        padding-top: 30px;
        font-size: 3.5rem;
        font-family: "Roboto";
        color: #CB6CE6;
        text-shadow: #52FFFF 2px 5px;
    
    }
    .div-steps h2 {
        color: #52FFFF;
        font-size: 2.5rem;
    }
    .div-steps h3 {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 399px) {
    .div-instructions h1 {
        padding-top: 30px;
        font-size: 2.5rem;
        font-family: "Roboto";
        color: #CB6CE6;
        text-shadow: #52FFFF 2px 5px;
    
    }
    .div-steps h2 {
        color: #52FFFF;
        font-size: 2rem;
    }
    .div-steps h3 {
        font-size: 1.7rem;
    }
}