.main-div-users {
    background-color: #222222;
    width: 93%;
    padding-left: 7%;
    padding-top: 30px;
}
@media screen and (max-width: 949px) {
    .main-div-users {
        background-color: #222222;
        width: 100vw;
        padding-top: 30px;
        
    }
    .body, html {
        width: fit-content;
    }
}
