.main-div-users {
    background-color: #222222;
    height: 1080px;
    width: 93%;
    padding-left: 7%;
    padding-top: 30px;
}
@media screen and (max-width: 949px) {
    .main-div-users {
        background-color: #222222;
        height: 1080px;
        width: 1000px;
        padding-top: 30px;
        padding-left: 100px;
    }
    .body, html {
        width: fit-content;
    }
}
