@import-normalize;

html, body {
  margin: 0 !important;
  background-color: white !important;
  overflow-x: hidden;
}

code {
  
}
#login-container{
  background-color: white !important;
}
#root {

}